.container {
  min-height: 100vh;
  height: 100vh;
}

.content{
  width: 100%;
  height: 80vh;
  background-color: red;
  
}
.content_absolute{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2.5vh 5vh;
}
.content_text{
  padding: 1vh 2vh;
  background-color: rgba(0,0,0,0.5);
  margin: 0px;
  border-radius: 100vh;
  color: white;
  font-size: 0.75em;
  font-weight: 500;
  border: solid white 1px;
}

/* Kategori */
.main{
  width: 100%;
  background-color: #e9e9e9;
  padding: 5vh 5%;
}
.main_header{
  width: 100%;
  height: 15vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13%;
}
.card_main_header{
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border: solid white 1px ;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.card_main_header1{
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border: solid white 1px ;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 5vh 0px 0px 0px;
}
.main_main{
  padding: 3vh 0px;
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 14.25% 14.25% 14.25% 14.25% 14.25% 14.25% 14.25% ;
  min-height: 30vh;
}
.main_header2{
  display: none;
}

.card_null{
  padding: 3vh 0px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
@media only screen and (max-width: 600px) {
  .content{
    height: 40vh;
  }
  .main_header{
    display: none;
  }
  .main_main{
    grid-template-columns: 50% 50%;
  }
  .main_header2{
    width: 100%;
    overflow-x: scroll;
    height: 9vh;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 3vh 0px;
  }
  .card_main_header3{
    margin: 0px 0.5vh;
    padding: 0px 5vh;
    font-size: 1em;
    font-weight: 500;
    border: solid #d3d3d3;
  }
}